/*Coded by 
	 Name	: Nasir Raza
	 Roll #	: KH01210813250
*/
/* Center the main */
#main {
    position: absolute;
    left: 48%;
    top: 48%;
    width: 200px;
    height: 200px;
    margin: -76px 0 0 -76px;
    background-color: #EAF0F6;    
    border: 1px solid darkgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
  }

  #loadertext {
    position: absolute;
    left: 48%;
    top: 48%;
    text-align: center;
    color: #3498db;
    margin: -10px 0 0 -35px;
    font-weight: 600;
}

#myDiv {
  position: absolute;
  left: 25%;
  top: 35%;
  height: 200px;
  width: 50%;
  margin: 10px 0 0 0px;
  background-color: #efefefe1;
  text-align: center;
  border: 1px solid green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

/* Add animation to "page loader" */
@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#welcome {
  color: #3498db;
  font-size: 3em;
}

/* Add animation to "page content" */
.animate-bottom {
    margin: 20px;
    position: relative;
    color: #3498db;
    font-size: 1.5em;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

/* Add media query to adjust "page content" */
@media screen and (max-width: 800px) {
    #main {
        height: 140px;
        width: 140px;
        margin: -68px 0 0 -68px;
    }

    #loader {
        height: 100px;
        width: 100px;
        margin: -65px 0 0 -65px;
    }

    #myDiv {
      left: 15%;
      width: 70%;
      height: 200px;
  }

  #welcome {
    margin: 5px;
    margin-top:50px ;
    font-size: 1.55em;
}
.animate-bottom {
  margin: 10px;
  font-size: 1em;
}
}
