/*Coded by 
	 Name	: Nasir Raza
	 Roll #	: KH01210813250
*/
html { 
    background: url(./assets/signup-large.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    top: 45%;
    left: 20%;
    width: 60%;
    min-height: 15%;
    font-size: 1.5em;
    color: blue;
    background-color: #efefef;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 5px gray;
    z-index: 1;
}

.main-box {
    position: absolute;
    margin-left: 20%;
    top: 50px;
    box-sizing: border-box;
    padding: 20px;
    width: 60%;
    height: auto;
    background: #efefef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.text {
    font-size: 1.4em;
    padding: 10px;
}

h1 {
    margin: 85px 0 10px 0;
    font-weight: 300;
    font-size: 28px;
}

#signin {
   font-size: 1em;
   color: blue;
}

.profile-picture {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 115px;
    height: 115px;
    border: 1px solid darkgray;
    border-radius: 10%;
}

figcaption {
    position: absolute;
    top: 125px;
    right: 40px;
    font-weight: 500;
}

.upload-prof-pict {
    position: absolute;
    top: 85px;
    right: 5px;
    width: 45px;
    height: 45px;
    border: 1px solid darkgray;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"] {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    transition: 0.2s ease;
}

input[type="submit"] {
    width: 30%;
    height: 42px;
    background: #f44336;
    border: none;
    margin-right: 40px;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #ff5722;
    transition: 0.2s ease;
}

/* Add media query to adjust "page content" */
@media screen and (max-width: 800px) {
    a {
        text-align: center;
    }

    input[type=submit] {
        width: 100%;
        
    }

    .main-box {
        margin-top: 30px;
        margin-left: 5%;
        top: 10px;
        bottom: 1px auto;
        width: 90%;
        height: auto;
    }

    .profile-picture {
        right: 15px;
        width: 90px;
        height: 90px;
    }

    .upload-prof-pict {
        top: 70px;
        right: 10px;
        width: 30px;
        height: 30px;
    }

    figcaption {
        top: 100px;
        right: 22px;
        font-size: small;
        font-weight: 500;
    }
    .message {
        font-size: 1em;
    }
}

@media screen and (min-width: 1450px) {
    input[type=submit] {
        width: 50%;
        margin-top: 0;
        margin-right: 20px;
    }

  
}

@media screen and (min-height: 1000px) {
    .main-box {
        margin-top: 20%;
        
    }
}
