/*Coded by 
     Name	: Nasir Raza
     Roll #	: KH01210813250
*/

html {
    background: url(./assets/movie-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#dashboard {
    margin-left: 5%;
    width: 90%;
    text-align: right;
}

#dashboardlink {
    font-size: 2em;
    font-weight: 900;
    color: fuchsia;
    text-decoration: none;
}

h1 {
    margin: 0;
    text-align: center;
    color: white;
}

.centerboxscr {
    margin-top: 0;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-height: 30.67vh;
    height: auto;
}

.calc {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    /* background-color: lightblue; */
}

h3 {
    margin: 0%;
    margin-bottom: 5%;
}

.book-buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    min-width: 75%;
    margin: 5%;
    font-size: large;
    font-weight: bold;
    height: auto;
    width: auto;
}

.moviescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57%;
    height: inherit;
    border: 5px solid green;
    box-shadow: 5px 5px 10px 2px grey;
}

img {
    width: 100%;
    height: 100%;
}

.seats-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: aqua;
    width: 5vw;
    height: 9vh;
    cursor: pointer;
}

.seats-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid firebrick;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: bisque;
    width: 5vw;
    height: 9vh;
    cursor: pointer;
}

.seats-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid darkgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: darkcyan;
    width: 5vw;
    height: 9vh;
    cursor: pointer;
}

.seats-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid darkgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    background-color:hotpink;
    width: 5vw;
    height: 9vh;
    cursor: pointer;
}

.seats-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid navy;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: lightblue;
    width: 5vw;
    height: 9vh;
    cursor: pointer;
}

.selected {
    background-color: yellow;
}

.reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.35em;
    font-weight: bold;
    background-color: darkgray;
    color: red;
    width: 5vw;
    height: 9vh;
    cursor: default;
    pointer-events: none;
}

.seats-1:hover,
.seats-2:hover,
.seats-3:hover,
.seats-4:hover,
.seats-5:hover {
    background-color:red;
    color: black;
}

.seatsrowfront {
    width: 75%;
    display: flex;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    justify-content: space-around;
}

.seatsrowmiddle1 {
    width: 80%;
    display: flex;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    justify-content: space-around;
}

.seatsrowmiddle2 {
    width: 85%;
    display: flex;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    justify-content: space-around;
}

.seatsrowback1 {
    width: 90%;
    display: flex;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    justify-content: space-around;
}

.seatsrowback2 {
    width: 95%;
    display: flex;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    justify-content: space-around;
}

.centerbox {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 85.67vh;
    height: auto;
    color: black;
}

.centerboxseats {
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    min-height: 40.67vh;
    height: auto;
    color: black;
}

p.head {
    width: 100%;
    text-align: left;
    font-size: xx-large;
    color: white;
}

figcaption {
    font-size: 3.5em;
    color: white;
}

.box {
    display: flex;
    margin: 1.5%;
    width: 30%;
    height: 65vh;
    background-color: #ffffff;
    border: 2px solid red;
    box-sizing: border-box;
}

.moviecard {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 0.65em;
}

p {
    padding-bottom: 0px;
    padding-left: 10px;
}

@media screen and (max-width: 800px) {

    .box {
        width: 100%;
        height: 55vh;
        margin-bottom: 25px;
    }

    figcaption {
        font-size: 2.5em;
    }

    p.head {
        font-size: 1.5em;
    }

    h1 {
        font-size: 1.15em;
    }

    #dashboardlink {
        font-size: 1em;
    }

    .calc {
        padding-left: 1%;
        font-size: 0.7em;
    }

    .moviescreen {
        width: 57%;
        height: 30vh;
    }

    button {
        font-size: 0.5em;
        font-weight: bold;
    }

    .centerboxseats {
        margin-top: 15%;
    }

    .seats-1,
    .seats-2,
    .seats-3,
    .seats-4,
    .seats-5 {
        font-size: 0.7em;
        font-weight: 300;
        height: 6vh;
    }

    .reserved {
        font-size: 0.6em;
        font-weight: 300;
        height: 6vh;
    } 


    .seatsrowfront {
        width: 80%;
    }
    
    .seatsrowmiddle1 {
        width: 85%;
    }
    
    .seatsrowmiddle2 {
        width: 90%;
    }
    
    .seatsrowback1 {
        width: 95%;
    }
    
    .seatsrowback2 {
        width: 100%;
     }
}